# Jekyll
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
vendor/

# File di sistema
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# Editor di testo e IDE
*.swp
*.swo
*~
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# File di log
*.log

# Altre directory e file da ignorare
node_modules/
.env
.env.*
